<h1>Convert <%= @original_currency %></h1>
<p>Go <a href="/">back</a>.</p>

<ul>
<% @currency_quotes.each do |key, value| %>
  <% @new_currency = key[3..5] %>
  <li><a href="/<%= @original_currency %>/<%= @new_currency %>">Convert 1 <%= @original_currency %> to <%= @new_currency %></a></li>
<% end %>
</ul>
